.feature-header {
  height: 100%;
  width: 100%;
  background: url("../img/volunteer/10.jpg") no-repeat center center fixed; 
  @include background-size();

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      @include background-image(linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1), rgba(0,0,0,0.8)));
    }

    .header-abstract {
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 50px;
      @media (min-width: 700px) { 
        font-size: 3em;
      }
      @media (min-width: 992px) { 
        font-size: 3em;
      }
    }

    .feature-text {
      bottom: 50px;
      color: white;
      position: absolute;
      width: 100%;
      @media (min-width: 500px) { 
        width: 80%;
      }
      @media (min-width: 992px) { 
        width: 55%;
      }
      @media (min-width: 1500px) { 
        width: 40%;
      }

      .feature-more {
        background: url("../img/icons/down-arrow.png") no-repeat 35px 35px;
        background-size: 20px 12px;
        color: white;
        padding-bottom: 30px;
        font-size: 1em;
        font-weight: 300;
        margin-top: 50px;
        text-decoration: none;
      }
    }

  * {
    @include transition (all 0.3s ease-in-out);
  }

  .feature-nav {
    background: white; 
    height: 80px;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 5;


    @media (min-width: 500px) { 
      height: 120px;
    }

    .primary-logo {
      height: 60px;
      margin-top: 10px;
      float: left;
      @media (min-width: 500px) { 
        height: 100px;
      }
    }

    .primary-logo {
      margin-right: 10px;
      @media (min-width: 500px) { 
        margin-right: 20px;
      }
    }

    .primary-headline,
    .secondary-headline {
      margin-bottom: 0;
      margin-top: 0;
      @media (min-width: 992px) { 
        line-height: 120px;
      }
    }

    .primary-headline {
      color: $dark-blue;
      font-size: 1.5em;
      font-weight: 700;
      margin-top: 15px;
      margin-right: 0;
      width: auto;
      @media (min-width: 500px) { 
        font-size: 2em;
        margin-top: 20px;
      }
      @media (min-width: 992px) { 
        font-size: 3.5em;
        float: left;
        margin-top: 0;
      }
    }

    .secondary-headline {
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
      @media (min-width: 500px) { 
        font-size: 1.5em;
      }
      @media (min-width: 992px) { 
        float: right;
        font-size: 2em;
      }
    }

    &.is-collapsed {
      opacity: 0.95;
      @media (min-width: 500px) { 
        height: 80px;
      }
      .primary-logo {
        @media (min-width: 500px) { 
          height: 60px;
        }
      }
      .primary-headline {
        @media (min-width: 500px) { 
          font-size: 1.5em;
          margin-top: 15px;
        }
        @media (min-width: 992px) { 
          font-size: 2em;
          margin-top: 0;
        }
      }
      .secondary-headline {
        @media (min-width: 500px) { 
          font-size: 1em;
        }
        @media (min-width: 992px) {
          font-size: 2em;
          margin-top: 0;
        }
      }
      .primary-headline,
      .secondary-headline {
        @media (min-width: 992px) { 
          line-height: 80px;
        }
      }
      .primary-logo {
        @media (min-width: 500px) {
          margin-right: 10px;
        }
      }
    }
  }
}