.section-highlight {
  background: $dark-blue;
  color: white;
}

.main-content {
  .container {
    padding: 40px;

    @media (min-width: 500px) {
      padding: 80px 0;
    }

    @media (min-width: 992px) { 
      padding: 150px 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

.text-highlight {
  font-size: 1.5em;
  text-align: center;
  @media (min-width: 992px) { 
    font-size: 2em;
  }
}

.section-highlight-head {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  @media (min-width: 992px) { 
    margin-top: 0;
  }

  @media (min-width: 992px) { 
    font-size: 2em;
  }
}

.col-img {
  width: 100%;
  height: auto;
  max-width: 500px;
}