 // COLORS
// ------

$dark-blue: #213442;
$grey: #595a5a;
$cornflower: #8f9faa;
$orange: #dd612f;
$brand-blue: #1b75bc;

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  color: $dark-blue;
  h1 {
    font-family: 'Source Serif Pro', serif;
  }
}

a {
  color: $brand-blue;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: darken($brand-blue, 10%);
    text-decoration: underline;
  }
}
.container {
  @media (min-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.secondary-headline {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}

.img-headline {
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  bottom: 2%;
  left: 5%;
}

@mixin background-size() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
