.btn {
  border-radius: 0px;
  background: $brand-blue;
  color: white;
  font-weight: 300;
  font-size: 1em;
  padding: 5px 40px;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background: darken($brand-blue, 10%);
    color: white;
  }
}

blockquote {
  font-style: italic;
  font-size: 90%;
  padding: 20px;
  float: left;
  border-left: none;
  background: $cornflower;
  color: white;
}

.blockquote-image {
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: 50px;
  display: block;
  position: absolute;
  bottom: -40px;
  right: 20px;
}

.blockquote-container {
  position: relative;
}

.quote-icon {
  background: url("../img/icons/quotes.png") no-repeat 0 0;
  width: 20px;
  height: 18px;
  display: block;
  float: left;
  margin-right: 10px;
}

p {
  .text-hightlight {
    font-size: 2em;
  }
}

.charity-image {
  &:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
      @include background-image(linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)));
  }

}